<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    .completed {
      text-decoration: line-through;
      color: gray;
    }
  </style>


  <div id="app">
    <select v-model="status" id="">
      <option value="all">전체</option>
      <option value="todos">진행중</option>
      <option value="done">완료</option>
    </select>
    <input v-model="userInput" type="text" @keydown.enter="addTodo">
    <button @click="addTodo">+</button>
    <ul>
      <li v-for="todo in todoListByStatus" :key="todo.createdAt">
        <span :class="{ completed: todo.isCompleted }">{{ todo.content }}</span>
        <input :checked="todo.isCompleted" type="checkbox" @click="check(todo)">
      </li>
    </ul>
    <button @click="deleteCompleted">완료된 할 일 지우기</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    const STORAGE_KEY = 'todo-app'

    const todoStorage = {
      fetch() {
        return JSON.parse(localStorage.getItem(STORAGE_KEY)) || []
      },
      save(todos) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
      }
    }

    const app = new Vue({
      el: '#app',
      data: {
        userInput: '',
        todoList: todoStorage.fetch(),
        status: 'all',
      },
      methods: {
        addTodo() {
          const todo = {
            content: this.userInput,
            isCompleted: false,
            createdAt: new Date().getTime(),
          }
          this.todoList.push(todo)
          this.userInput = ''
        },
        check (todo) {
          todo.isCompleted = !todo.isCompleted
        },
        deleteCompleted() {
          this.todoList = this.todoList.filter(todo => {
            return !todo.isCompleted
          })
        },
        
      },
      computed: {
        todoListByStatus() {
          return this.todoList.filter(todo => {
            if (this.status === 'todos') {
              return !todo.isCompleted
            } else if (this.status === 'done') {
              return todo.isCompleted
            } else {
              return true
            }
            
          })
        }
      },
      watch: {
        todoList: {
          deep: true,
          handler(todoList) {
            todoStorage.save(todoList)
          }
        }
      }
    })
  </script>
</body>
</html>